@media (min-width: 1200px) {
  .container {
    max-width: 1280px; } }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.88); }

.header {
  height: 54px;
  background-color: rgba(0, 0, 0, 0.88); }

h1 {
  font-family: 'Montserrat';
  line-height: 1.36; }

p {
  font-family: 'Merriweather'; }

.logo {
  width: 60px;
  height: 109px;
  background-image: url(../assets/logo-g7.svg);
  position: fixed;
  left: 24px;
  z-index: 9999;
  top: 2px; }

a {
  color: #573BA3; }
  a:hover {
    text-decoration: none; }

.icon--24 {
  width: 24px;
  height: 24px; }

.icon--36 {
  width: 36px;
  height: 36px; }

.icon--fill-black {
  fill: rgba(0, 0, 0, 0.88); }

.icon--fill-purple {
  fill: #573BA3; }

.top-content-container {
  display: flex;
  margin-bottom: 64px; }

.content-left {
  width: 66.666vw;
  height: 66.666vw;
  position: relative; }
  .content-left:after {
    content: '';
    width: 1px;
    background-color: white;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0; }

.content-container-right {
  width: 33.333vw;
  height: 66.666vw; }

.content-right-top {
  width: 33.333vw;
  height: 33.333vw;
  position: relative; }
  .content-right-top:after {
    content: '';
    background-color: white;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0; }

.content-right-bottom {
  width: 33.333vw;
  height: 33.333vw; }

.content-1,
.content-2,
.content-3 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  display: flex; }
  .content-1 .article-elements,
  .content-2 .article-elements,
  .content-3 .article-elements {
    position: absolute;
    width: 80%;
    text-align: center;
    bottom: 2%;
    color: #fff;
    left: 10%; }
  .content-1:before,
  .content-2:before,
  .content-3:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(-180deg, transparent 20%, rgba(0, 0, 0, 0.8) 100%); }

.content-1 {
  background-image: url(../images/brazil-1024x1024.jpg); }

.content-2 {
  background-image: url(../images/nfl_protest2-1024x1024.jpg); }

.content-3 {
  background-image: url(../images/Screen-Shot-2017-10-16-at-16.22.13-660x660.png); }

.content-1 .article-elements span {
  font-size: 14px; }

.content-1 .article-elements h1 {
  font-weight: 700;
  font-size: 3vw;
  line-height: 1.28;
  margin: 24px 0; }

.content-1 .article-elements p {
  font-size: 1.8vw; }

.content-2 .article-elements span,
.content-3 .article-elements span {
  font-size: 14px; }

.content-2 .article-elements h1,
.content-3 .article-elements h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2vw;
  margin: 16px 0; }

.ajanlo .doboz-cim {
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px; }
  .ajanlo .doboz-cim span {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: solid 4px rgba(0, 0, 0, 0.88);
    display: inline-block;
    position: relative;
    top: 4px; }

.ajanlo-full {
  max-width: 100%;
  padding: 0; }

.ajanlo:after,
.ajanlo-full:after {
  content: '';
  height: 2px;
  background-color: rgba(0, 0, 0, 0.12);
  max-width: 1280px;
  display: block;
  margin: 60px auto; }

.ajanlo-content {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .ajanlo-content h1 {
    font-size: 20px;
    font-weight: 700; }
  .ajanlo-content p {
    font-size: 16px;
    font-weight: 300; }
  .ajanlo-content .ajanlo-img {
    margin-bottom: 24px;
    max-width: 100%;
    max-height: 100%; }

.szerzo-datum-container {
  margin-bottom: 16px;
  display: flex;
  align-items: center; }
  .szerzo-datum-container .szerzo,
  .szerzo-datum-container .datum-kategoria {
    margin-left: 16px;
    font-size: 14px; }
  .szerzo-datum-container .szerzo {
    font-weight: 600;
    font-size: 16px; }
  .szerzo-datum-container .datum-kategoria {
    color: rgba(0, 0, 0, 0.5); }

.full-width-ajanlo {
  display: flex; }
  .full-width-ajanlo.light-grey {
    background-color: rgba(0, 0, 0, 0.12); }

.full-width-ajanlo-img {
  width: 50vw;
  height: 50vw; }

.full-width-ajanlo-content {
  margin: 0 15px 0 30px;
  max-width: 595px;
  align-self: center; }
  .full-width-ajanlo-content h1 {
    font-weight: 800;
    font-size: 2.8vw;
    margin: 32px 0 24px 0; }
  .full-width-ajanlo-content p {
    font-size: 1.6vw;
    margin-bottom: 32px; }

.sharing-is-caring {
  margin-bottom: 16px; }

.button {
  font-family: 'Montserrat';
  padding: 2px 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  display: inline-block;
  height: 40px; }
  .button span {
    display: inline-block;
    position: relative;
    top: -3px; }
    .button span .bekezdesek {
      font-weight: 500;
      position: relative;
      top: 0; }
  .button svg {
    position: relative;
    top: 4px; }
  .button.purple {
    border: solid 2px #573BA3;
    color: #573BA3; }
    .button.purple:hover {
      background-color: #573BA3; }
