html,
body,
.movie-image,
.wrapper {
  height: 100%;
}

body {
  margin: 0;
  background-color: #4a0088;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.movie-image {
  background-blend-mode: soft-light;
  background-color: #4a0088;
  filter: blur(4px);
  z-index: 0;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: -60px;
  width: 100%;
}

h1 {
  font-family: 'Ranga';
  font-weight: 400;
  font-size: 65px;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-align: center;
  line-height: 1;
  color: #ec1e34;
  text-shadow: 0 2px 0 rgba(0,0,0,0.25);
  padding: 0 40px;
  max-width: 800px;
  margin: 0;
}

h2 {
  font-size: 80px;
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

.separator-wave {
  width: 64px;
  height: 10px;
  background-image: url('../assets/separator-wave.svg');
  transform: rotate(90deg);
  margin-bottom: 40px;
}

.dots {
  width: 372px;
  height: 44px;
  background-image: url('../assets/dots.svg');
  transform: scaleY(-1);
  filter: flipv;
  margin: 40px 0;
}

.footer-wrapper {
  position: absolute;
  bottom: 28px;
  width: 100%;
  overflow: hidden;
}

.link-box {
  border: solid 4px #fff;
  padding: 0 16px;
  width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  text-align: left;
}

.rating {
  font-size: 24px;
  font-weight: 400;
}

.scale {
  opacity: 0.4;
  font-weight: 400;
}

.footer-wrapper:before {
  content: '';
  height: 4px;
  display: inline-block;
  width: 50%;
  background-color: #fff;
  position: absolute;
  left: -180px;
  top: 35px;
}

.footer-wrapper:after {
  content: '';
  height: 4px;
  display: inline-block;
  width: 50%;
  background-color: #fff;
  position: absolute;
  top: 35px;
  right: -180px;
}

.reload {
  display: inline-block;
  width: 36px;
  height: 64px;
  background-image: url(../assets/icon-reload.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reload:before {
  content: '';
  display: block;
  width: 4px;
  background-color: #fff;
  height: 100%;
  position: relative;
  left: -20px;
}

.reload:hover { cursor: pointer; }

@media screen and (max-width: 480px) {

  .wrapper {
    height: auto;
    top: 40px;
  }

  .movie-image,
  .footer-wrapper:before,
  .footer-wrapper:after { display: none; }

  .dots {
    width: 252px;
    height: 44px;
    background-image: url('../assets/dots-mobile.svg');
  }

  h1 {
    font-size: 40px;
    margin: 26px 0;
    padding: 0 20px;
  }

  h2,
  h3 {
    font-size: 22px;
    margin: 26px 0;
  }
}

/* Dots animation */
.dots-wrapper {
  width: 240px;
  height: 52px;
  margin: 60px auto;
  position: relative;
  transform: scale(1.4);
}

.dots-left,
.dots-center,
.dots-right { position: absolute; }

.dots-left { left: 60px; }
.dots-center { left: 122px; }
.dots-right { right: 60px; }

.dots-left .dot-4 { left: -12px; }
.dots-left .dot-3 { left: -24px; }
.dots-left .dot-2 { left: -36px; }
.dots-left .dot-1 { left: -48px; }

.dots-right .dot-4 { right: -16px; }
.dots-right .dot-3 { right: -28px; }
.dots-right .dot-2 { right: -40px; }
.dots-right .dot-1 { right: -52px; }

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100px;
  position: absolute;
}

.dot-1 {
  animation: frame-1 1.6s 0s infinite;
  background-color: #fff;
}

.dot-2 {
  animation: frame-1 1.6s 0.2s infinite;
  background-color: #fff;
  top: 12px;
}

.dot-3 {
  animation: frame-1 1.6s 0.4s infinite;
  background-color: #fff;
  top: 24px;
}

.dot-4 {
  animation: frame-1 1.6s 0.6s infinite;
  background-color: #fff;
  top: 36px;
}

.dot-5 {
  animation: frame-1 1.6s 0.8s infinite;
  background-color: #fff;
  top: 48px;
}

@keyframes frame-1 {
  0%   { background-color: #fff; }
  50% { background-color: #ec1e34; }
  100% { background-color: #1EE3EC; }
}
