.vezeto-blokk {
  background-color: #573BA3; }

.box-vezeto-anyag {
  background-image: url("../images/cersei.jpg");
  background-size: cover;
  height: 600px; }

.logo,
.menu {
  width: 36px;
  height: 36px;
  background-color: #f1f1f1; }

.menu {
  float: right; }
