$color-purple: #573BA3;
$color-main-background: #f8f8f8;
$color-smoke: rgba(0, 0, 0, 0.03);
$color-green: #16CEC2;

body {
  background-color: $color-main-background;
}

.vezeto-blokk {
  @media (min-width: 768px) {
    background-color: $color-purple;
  }
}

.vezeto-anyag {
  @media (max-width: 767px) {
    position: relative;
    top: -48px;
    margin-bottom: -48px;
    z-index: -1;
  }
}

.box-vezeto-anyag {
  background-image: url('../images/andrew-robles-280706.jpg');
  background-size: cover;
  margin-bottom: 32px;
  margin: 0 -15px;
  height: 400px;
  @media (min-width: 768px) {
    height: 600px;
    margin-bottom: 32px;
  }
}

.trending-tags-fejlec {
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 768px) {
    justify-content: center;
    background-color: black;
    height: 64px;
    color: white;
    align-items: center;
  }
}

.fejlec {
  height: 48px;
  align-items: center;
  @media (min-width: 768px) {
    background-color: transparent;
    height: auto;
    position: relative;
    top: 36px;
  }
}

.logo,
.menu {
  $size: 36px;
  width: $size;
  height: $size;
  background-color: #f1f1f1;
}

.menu {
  float: right;
}

.container-legfrissebbek {
  @media (min-width: 768px) {
    position: absolute;
    top: 160px;
    width: 100%;
  }
}

.box-legfrissebbek {
  background-color: #fff;
  @media (min-width: 768px) {
      min-height: 400px;
  }
}

.container-fontos-anyagok {
  background-color: $color-smoke;
  padding-top: 64px;
  padding-bottom: 64px;
}

.row-fontos-anyagok {
  justify-content: center;
}

.fontos-item {
  @media (max-width: 767px) {
    margin-bottom: 48px;
  }
  height: 440px;
  color: white;
  margin: 0 16px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cover-item {
  @media (max-width: 767px) {
    position: relative;
    min-height: 560px;
    display: flex;
  }

  .row {
    @media (max-width: 767px) {
      align-items: center;
    }
  }
}

.cover-text {
  @media (max-width: 767px) {
    z-index: 1;
  }
  background-color: transparent;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
      background-color: $color-green;
      padding-left: 72px;
      padding-right: 72px;
  }
}

.cover-image {
  @media (max-width: 767px) {
    position: absolute;
    top: 0;
    min-height: 560px;
  }
  background-image: url('../images/brooke-cagle-193476.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 660px;
}

h1,
p {
  display: inline-block;
}

h1 {
  font-size: 38px;
}

p {
  font-size: 18px;
}

.fontos-item-1 {
  background-image: url('../images/josh-g-342907.jpg');
}

.fontos-item-2 {
  background-image: url('../images/kai-pilger-262321.jpg');
}

.fontos-item-3 {
  background-image: url('../images/tim-wright-131720.jpg');
}
