body {
  background-color: #333;
  margin: 0; }

.wrapper {
  width: 1265px;
  margin: 0 auto;
  position: relative; }

.hidden {
  top: -54px;
  transition: all 0.2s; }

.show {
  top: 0;
  transition: all 0.2s; }

.hidden-logo {
  animation: hide-logo 0.8;
  opacity: 0; }

.show-logo {
  opacity: 1;
  transition: all 1.6s;
  position: fixed; }

.hidden-new-logo {
  position: fixed;
  animation: hide-logo 1s;
  top: -100px; }

.show-new-logo {
  position: fixed;
  animation: slide-in 1s;
  top: 8px; }

@keyframes slide-in {
  0% {
    top: -100px; }
  100% {
    top: 8px; } }

@keyframes slide-out {
  0% {
    top: 8px; }
  100% {
    top: -100px; } }

@keyframes hide-logo {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.header {
  background-image: url("header.png");
  width: 100%;
  height: 54px;
  position: fixed; }

.content {
  background-image: url("content.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-color: white;
  height: 2278px; }

.logo {
  width: 52px;
  height: 101px;
  background-image: url("logo.svg");
  display: block;
  position: fixed;
  margin-left: 18px;
  margin-top: 4px; }

.new-logo {
  width: 42px;
  height: 93px;
  background-image: url("logo-2.svg");
  display: block;
  margin-left: 22px; }
