$color-purple: #573BA3;

.vezeto-blokk {
  background-color: $color-purple;
}

.box-vezeto-anyag {
  background-image: url('../images/cersei.jpg');
  background-size: cover;
  height: 600px;
}

.fejlec {
  background-color: black;
  height: 64px;
}

.logo,
.menu {
  $size: 36px;
  width: $size;
  height: $size;
  background-color: #f1f1f1;
}

.menu {
  float: right;
}

.container-legfrissebbek {
  position: absolute;
  top: 100px;
}

.box-legfrissebbek {
  background-color: #fff;
  min-height: 400px;
}
