body,
html {
  background-color: #fafafa;
  font-family: 'Open Sans', helvetica, sans-serif;
  margin: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased; }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo-appgrid {
    background-image: url("../images/logo-appgrid-green@2x.png"); }
  .logo-accedo {
    background-image: url("../images/logo-accedo@2x.png"); } }

.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%; }

.wrapper-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

.wrapper-right {
  width: 50%;
  height: 100%;
  position: relative;
  background-image: url("../images/bg-image.jpg");
  background-size: cover;
  background-position: center; }

.logo-appgrid {
  background-image: url("../images/logo-appgrid-green.png");
  background-size: 190px 44px;
  width: 190px;
  height: 44px;
  margin: 0 auto; }

.form-wrapper {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 380px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.1s linear; }
  .form-wrapper:hover {
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.05);
    transition: all 0.1s linear; }

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 30px; }

input {
  height: 42px;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  font-size: 15px;
  color: #777777;
  padding-left: 12px;
  width: 365px;
  transition: all 0.1s linear;
  outline: none; }
  input:first-child {
    margin-bottom: 6px; }
  input:hover {
    border-color: #7fa41b;
    transition: all 0.1s linear; }
  input:focus {
    border-color: #7fa41b;
    transition: all 0.1s linear;
    color: #333333; }

.button-login {
  border: 0;
  border-radius: 40px;
  width: 160px;
  height: 40px;
  background-color: #7fa41b;
  color: #ffffff;
  line-height: 34px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.1s linear;
  outline: none; }
  .button-login:hover {
    background-color: #6b8a17;
    transition: all 0.1s linear;
    cursor: pointer; }

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  align-items: center; }

.text-forgot {
  font-size: 13px;
  transition: all 0.1s linear; }
  .text-forgot:hover {
    color: #5d7814;
    transition: all 0.1s linear; }

.left-content {
  position: relative; }

.right-content {
  width: 80%;
  color: #ffffff;
  margin: 80px 0 0 80px; }

h1 {
  font-weight: 300;
  font-size: 52px;
  line-height: 58px;
  margin: 20px 0 0; }

p,
h3 {
  font-size: 20px;
  line-height: 30px; }

p {
  margin: 24px 0 0; }

h3 {
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 0; }

a {
  color: #7fa41b;
  text-decoration: none;
  transition: all 0.1s linear; }
  a:hover {
    color: #a1d022;
    transition: all 0.1s linear; }

.logo-accedo {
  display: inline-block;
  width: 89px;
  height: 16px;
  background-size: 89px 16px;
  background-image: url("../images/logo-accedo.png");
  margin-right: 10px; }

.footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px; }
  .footer-left {
    margin-right: 10px; }
  .footer ul {
    margin: 0;
    padding: 0;
    display: inline-block; }
  .footer span {
    color: #aaaaaa;
    font-size: 13px; }
