body {
  margin: 0;
  background-color: #fafafa;
}

.container {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 1422px;
  height: 46px;
  background-image: url('../images/header.png');
  position: fixed;
  top: 0;
  z-index: 1;
}

.content-container {
  display: flex;
  position: absolute;
  top: 46px;
}

.sidebar {
  width: 240px;
  background-color: #3b3e42;
  background-image: url('../images/sidebar.png');
  background-repeat: no-repeat;
  background-position: top;
  height: 1400px;
  position: fixed;
}

.content-breadcrumb {
  width: 1182px;
  height: 36px;
  background-image: url('../images/breadcrumb.png');
  position: fixed;
  z-index: 1;
}

.content {
  width: 1182px;
  height: 1400px;
  background-image: url('../images/content.png');
  background-position: 0 36px;
  background-repeat: no-repeat;
  position: relative;
  left: 240px;
}

.editors {
  width: 138px;
  height: 30px;
  background-image: url('../images/editors.png');
  position: absolute;
  right: 203px;
  top: 57px;
}

.editors-onscroll-container {
  position: absolute;
  right: -1px;
  top: 100px;
  width: 162px;
  height: 51px;
  z-index: 1;
}

#editors-id {
  width: 140px;
  height: 31px;
  background-color: #ffffff;
  background-image: url('../images/editors.png');
  background-repeat: no-repeat;
  border: 1px solid rgba(0,0,0,0.20);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20);
  position: fixed;
  background-position: 6px;
  top: 88px;
  opacity: 0;
  transition: opacity 0.2s linear;
  padding: 6px;

  &.show {
    opacity: 0.6;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
      cursor: pointer;
      box-shadow: 0 6px 14px 0 rgba(0,0,0,0.20);
    }
  }
}

.avatar-links {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 2px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;

    .popup {
      opacity: 1;
    }
  }

  .popup {
    background-image: url('../images/popup.png');
    width: 73px;
    height: 29px;
    position: absolute;
    top: -33px;
    left: -22px;
    z-index: 3;
    opacity: 0;
  }
}
