$mobile-width: 768px;
$desktop-width: 1024px;

$color-black: #111111;
$color-smoke: #f1f1f1;
$color-darkgray: #333333;
$color-white: #ffffff;
$color-brand: #f8901f;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.header {
  background-color: $color-smoke;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 14px 0;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
}

#topLogo {
  background-image: url('../assets/qz_small-14.png');
  background-size: 120px 33px;
  width: 120px;
  height: 33px;
  position: absolute;
  top: 8px;
  left: 10px;
  opacity: 0;
  transition: opacity 0.2s linear;

  &.show {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
}

.content-wrapper {

  @include mobile {
    width: 100%;
  }

  margin: 0 auto;
  width: 960px;
}

.topMenu {
  display: flex;
  margin: 0;
  justify-content: center;

  li {
    list-style-type: none;
    margin: 0 20px;
    position: relative;

    &:hover {
      &:after {
        display: block;
        content: '';
        height: 4px;
        background-color: $color-brand;
        position: absolute;
        width: 100%;
        top: 26px;
      }
    }

    a {
      color: $color-darkgray;
      text-decoration: none;
      font-size: 16px;

      &:hover {
        color: $color-brand;
      }
    }
  }
}

.social {
  margin: 0;
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;

  li {
    list-style-type: none;
  }

  .social-icons {
    display: block;
    background-size: 29px;
    width: 29px;
    height: 29px;

    &.facebook {
      background-image: url('../assets/FB-f-Logo__blue_58.png');
      margin-right: 6px;
    }

    &.youtube {
      background-image: url('../assets/YouTube-social-square-red.png');
    }
  }
}

.logo-qz {
  background-image: url('../assets/qz_small-14.png');
  background-position: center;
  $logo-size: 396px;
  width: $logo-size;
  height: 110px;
  background-size: $logo-size 110px;
  margin: 80px auto 0;
}
