html {
  height: 100%; }

body {
  color: #222222;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 12px #5068ee;
  flex-direction: column; }

.wrapper {
  text-align: center;
  margin-bottom: 40px; }

.portrait {
  background-image: url("../images/portrait-ff.png");
  background-size: 140px;
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto; }

h1,
h2 {
  margin-bottom: 0; }

h1 {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -0.1rem;
  margin-top: 32px;
  padding: 0 32px; }

.title {
  color: #cccccc;
  font-weight: normal;
  margin-top: 10px;
  font-size: 20px; }

.contacts {
  display: flex;
  position: relative;
  padding: 40px 0 0;
  margin: 0;
  justify-content: center; }
  .contacts:before {
    content: '';
    display: block;
    width: 24px;
    height: 2px;
    background-color: #222222;
    position: absolute;
    top: 0px;
    left: 55px; }
  .contacts li {
    list-style-type: none;
    margin-right: 24px; }
    .contacts li:last-child {
      margin-right: 0; }
  .contacts .contact {
    display: block;
    width: 26px;
    height: 26px;
    opacity: 0.6;
    transition: opacity 0.2s linear;
    background-repeat: no-repeat;
    background-position: center; }
    .contacts .contact:hover {
      opacity: 1;
      transition: opacity 0.2s linear; }
    .contacts .contact.email {
      background-image: url("../images/icon-email.svg");
      width: 34px; }
    .contacts .contact.dribbble {
      background-image: url("../images/icon-dribbble.svg"); }
    .contacts .contact.instagram {
      background-image: url("../images/icon-instagram.svg"); }
