$mobile-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$color-black:     #222222;
$color-lightgray: #f5f5f5;
$color-white:     #ffffff;
$color-blue:      #5068ee;
$color-graytext:  #cccccc;
$portrait-size: 140px;

$transition-opacity: opacity 0.2s linear;

html { height: 100%; }

body {
    color: $color-black;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px 12px $color-blue;
    flex-direction: column;
}

.wrapper {
    text-align: center;
    margin-bottom: 40px;
}

.portrait {
    background-image: url('../images/portrait.png');
    background-size: $portrait-size;
    display: block;
    width: $portrait-size;
    height: $portrait-size;
    margin: 0 auto;
}

h1,
h2 { margin-bottom: 0; }

h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-top: 32px;
    padding: 0 32px;

    @include mobile {
      font-size: 36px;
    }
}

.title {
    color: $color-graytext;
    font-weight: normal;
    margin-top: 10px;
    font-size: 20px;
}

.contacts {
    display: flex;
    position: relative;
    padding: 40px 0 0;
    margin: 0;
    justify-content: center;

    &:before {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: $color-black;
        position: absolute;
        top: 0px;
        left: 45%;
    }

    li {
        list-style-type: none;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    .contact {
        display: block;
        width: 26px;
        height: 26px;
        opacity: 0.6;
        transition: $transition-opacity;
        background-repeat: no-repeat;
        background-position: center;

        &:hover {
            opacity: 1;
            transition: $transition-opacity;
        }

        &.email {
            background-image: url('../images/icon-email.svg');
            width: 34px;
        }

        &.dribbble { background-image: url('../images/icon-dribbble.svg'); }

        &.instagram { background-image: url('../images/icon-instagram.svg'); }

    }
}

.resume {
  border: solid 2px $color-black;
  opacity: 0.6;
  border-radius: 5px;
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  padding: 0 6px;
  color: $color-black;
  text-decoration: none;
  transition: $transition-opacity;

  &:hover {
    opacity: 1;
    transition: $transition-opacity;
  }
}
