html {
  height: 100%; }

body {
  color: #ffffff;
  margin: 0;
  background-color: #5068ee;
  font-family: 'Lato', sans-serif;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0px 30px #ffffff; }

.wrapper {
  text-align: center; }

.portrait {
  background-image: url("../images/portrait-ff.png");
  background-size: 140px;
  display: block;
  width: 140px;
  height: 140px;
  margin: 0 auto; }

h1 {
  font-size: 40px;
  font-weight: bold; }
