$mobile-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

$color-black:     #222222;
$color-lightgray: #f5f5f5;
$color-white:     #ffffff;
$color-blue:      #5068ee;
$color-graytext:  #cccccc;
$portrait-size: 140px;


html { height: 100%; }

body {
    color: $color-black;
	margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 0px 12px $color-blue;
    flex-direction: column;
}

.wrapper {
    text-align: center;
}

.portrait {
    background-image: url('../images/portrait-ff.png');
    background-size: $portrait-size;
    display: block;
    width: $portrait-size;
    height: $portrait-size;
    margin: 0 auto;
}

h1,
h2 { margin-bottom: 0; }

h1 {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -0.1rem;
    margin-top: 32px;
}

.title {
    color: $color-graytext;
    font-weight: normal;
    margin-top: 16px;
    font-size: 20px;
}

.contacts {
    margin-top: 80px;
    display: flex;
    position: relative;
    padding: 0;

    li {
        list-style-type: none;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    .contact {
        display: block;
        width: 24px;
        height: 24px;
        opacity: 0.6;
        transition: opacity 0.2s linear;

        &:hover {
            opacity: 1;
            transition: opacity 0.2s linear;
        }

        &.email {
            background-image: url('../images/icon-email.svg');
            width: 32px;
        }

        &.dribbble { background-image: url('../images/icon-dribbble.svg'); }

        &.instagram { background-image: url('../images/icon-instagram.svg'); }
    }
}
