body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

.header {
  height: 54px;
  background-color: rgba(0, 0, 0, 0.88);
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo {
  width: 60px;
  height: 109px;
  background-image: url(../assets/logo-g7.svg);
  margin-top: 2px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
}

.content-left {
  width: 66.666vw;
  height: 66.666vw;
  position: relative;

  &:after {
    content: '';
    width: 1px;
    background-color: white;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.content-container-right {
  width: 33.333vw;
  height: 66.666vw;
}

.content-right-top {
  width: 33.333vw;
  height: 33.333vw;
  position: relative;

  &:after {
    content: '';
    background-color: white;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.content-right-bottom {
  width: 33.333vw;
  height: 33.333vw;
}

.content-1,
.content-2,
.content-3 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  display: flex;

  .article-elements {
    position: absolute;
    width: 80%;
    text-align: center;
    bottom: 2%;
    color: #fff;
    left: 10%;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 20%, rgba(0,0,0,0.80) 100%);
  }
}

.content-1 { background-image: url(../images/photo-1499909694555-1ae5b7067b1a.jpg); }
.content-2 { background-image: url(../images/content-2.jpg); }
.content-3 { background-image: url(../images/content-3.jpg); }

.content-1 {
  .article-elements {
    span {
      font-size: 14px;
    }

    h1 {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 3vw;
      line-height: 1.28;
      margin: 24px 0;
    }

    p {
      font-family: 'Merriweather';
      font-size: 1.8vw;
    }
  }
}

.content-2,
.content-3 {
  .article-elements {
    span {
      font-size: 14px;
    }

    h1 {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 2vw;
      line-height: 1.28;
      margin: 16px 0;
    }

  }
}
