$color-black: rgba(0, 0, 0, 0.88);
$color-grey: rgba(0, 0, 0, 0.5);
$color-light_grey: rgba(0, 0, 0, 0.12);
$color-purple: #573BA3;

@media (min-width: 1200px) {
  .container {
      max-width: 1280px;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: $color-black;
}

.header {
  height: 54px;
  background-color: $color-black;
}

h1 {
  font-family: 'Montserrat';
  line-height: 1.36;
}

p { font-family: 'Merriweather'; }

.logo {
  width: 60px;
  height: 109px;
  background-image: url(../assets/logo-g7.svg);
  position: fixed;
  left: 24px;
  z-index: 9999;
  top: 2px;
}

a {
  color: $color-purple;

  &:hover {
    text-decoration: none;
  }
}

.top-content-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
}

.content-left {
  width: 66.666vw;
  height: 66.666vw;
  position: relative;

  &:after {
    content: '';
    width: 1px;
    background-color: white;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.content-container-right {
  width: 33.333vw;
  height: 66.666vw;
}

.content-right-top {
  width: 33.333vw;
  height: 33.333vw;
  position: relative;

  &:after {
    content: '';
    background-color: white;
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.content-right-bottom {
  width: 33.333vw;
  height: 33.333vw;
}

.content-1,
.content-2,
.content-3 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  display: flex;

  .article-elements {
    position: absolute;
    width: 80%;
    text-align: center;
    bottom: 2%;
    color: #fff;
    left: 10%;
  }

  &:before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 20%, rgba(0,0,0,0.80) 100%);
  }
}

.content-1 { background-image: url(../images/brazil-1024x1024.jpg); }
.content-2 { background-image: url(../images/nfl_protest2-1024x1024.jpg); }
.content-3 { background-image: url(../images/Screen-Shot-2017-10-16-at-16.22.13-660x660.png); }

.content-1 {
  .article-elements {
    span {
      font-size: 14px;
    }

    h1 {
      font-weight: 700;
      font-size: 3vw;
      line-height: 1.28;
      margin: 24px 0;
    }

    p {
      font-size: 1.8vw;
    }
  }
}

.content-2,
.content-3 {
  .article-elements {
    span {
      font-size: 14px;
    }

    h1 {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 2vw;
      margin: 16px 0;
    }

  }
}

.ajanlo {

  .doboz-cim {
    border-bottom: solid 1px $color-light_grey;
    margin-bottom: 40px;

    span {
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
      border-bottom: solid 4px $color-black;
      display: inline-block;
      position: relative;
      top: 4px;
    }
  }
}

.ajanlo-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 20px;
    font-weight: 700;
  }

  p {
    font-size: 16px;
  }

  .ajanlo-img {
    margin-bottom: 16px;
    max-width: 100%;
    max-height: 100%;
  }

  .szerzo-datum-container {
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    .szerzo,
    .datum-kategoria {
      margin-left: 16px;
      font-size: 14px;
    }

    .szerzo {
      font-weight: 600;
      font-size: 16px;
    }

    .datum-kategoria { color: $color-grey; }
  }
}
