#s-011fd762-502b-4bf6-96af-5481350c108c #s-menu-background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-menuitem-asia {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-menuitem-america {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-menuitem-europe {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-menuitem-africa {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link-mainmenu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link-mainmenu_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link-mainmenu_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-Table_1 {
  border-collapse: separate;
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-background-secondary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-eastern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-northern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-northern-africa_1 {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-northern-africa_2 {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c #s-link_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-011fd762-502b-4bf6-96af-5481350c108c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}