#s-407a1532-1d95-486a-b238-21d655dbbaa8 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-main-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 768px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menu-background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 156px;
  height: 768px;
  background-color: #333333;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menu-background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menu-background span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menu-background span#rtr-s-menu-background_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-asia {
  position: absolute;
  top: 224px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-asia .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-asia span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-asia span#rtr-s-menuitem-asia_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-america {
  position: absolute;
  top: 184px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-america .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-america span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-america span#rtr-s-menuitem-america_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-europe {
  position: absolute;
  top: 144px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-europe .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-europe span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-europe span#rtr-s-menuitem-europe_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-africa {
  position: absolute;
  top: 104px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 13.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-africa .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-africa span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-menuitem-africa span#rtr-s-menuitem-africa_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Logo {
  position: absolute;
  top: 20px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 18.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Logo .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Logo span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Logo span#rtr-s-Logo_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu {
  position: absolute;
  top: 96px;
  left: 14px;
  width: 130px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu span#rtr-s-link-mainmenu_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_1 {
  position: absolute;
  top: 136px;
  left: 14px;
  width: 130px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_1 span#rtr-s-link-mainmenu_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_2 {
  position: absolute;
  top: 176px;
  left: 14px;
  width: 130px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link-mainmenu_2 span#rtr-s-link-mainmenu_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Table_1 {
  position: absolute;
  top: 136px;
  left: 180px;
  width: 820px;
  height: 68px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_1 {
  padding-left: 12px;
  width: 75px;
  height: 29px;
  background-color: #F3F3F3;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_4 {
  padding-left: 12px;
  width: 469px;
  height: 29px;
  background-color: #F3F3F3;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_7 {
  padding-left: 12px;
  width: 236px;
  height: 29px;
  background-color: #F3F3F3;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_2 {
  padding-left: 12px;
  width: 75px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_5 {
  padding-left: 12px;
  width: 469px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_8 {
  padding-left: 12px;
  width: 236px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-secondary-menu {
  position: absolute;
  top: 0px;
  left: 156px;
  width: 868px;
  height: 96px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-background-secondary {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 868px;
  height: 96px;
  background-color: #F3F3F3;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-background-secondary .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-background-secondary span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-background-secondary span#rtr-s-background-secondary_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Rectangle_1 {
  position: absolute;
  top: 58px;
  left: 377px;
  width: 118px;
  height: 38px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa {
  position: absolute;
  top: 67px;
  left: 24px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa span#rtr-s-eastern-africa_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_1 {
  position: absolute;
  top: 67px;
  left: 135px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_1 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_1 span#rtr-s-eastern-africa_1_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_2 {
  position: absolute;
  top: 67px;
  left: 273px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_2 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_2 span#rtr-s-eastern-africa_2_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_3 {
  position: absolute;
  top: 67px;
  left: 387px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_3 span#rtr-s-eastern-africa_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_4 {
  position: absolute;
  top: 67px;
  left: 508px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_4 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_4 span#rtr-s-eastern-africa_4_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_5 {
  position: absolute;
  top: 67px;
  left: 632px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_5 span {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-eastern-africa_5 span#rtr-s-eastern-africa_5_0 {
  color: #4A86E8;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link {
  position: absolute;
  top: 58px;
  left: 15px;
  width: 107px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link span#rtr-s-link_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_1 {
  position: absolute;
  top: 58px;
  left: 125px;
  width: 135px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_1 span#rtr-s-link_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_1 {
  position: absolute;
  top: 18px;
  left: 25px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 16.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_2 {
  position: absolute;
  top: 58px;
  left: 263px;
  width: 111px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_2 span#rtr-s-link_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_3 {
  position: absolute;
  top: 58px;
  left: 499px;
  width: 119px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_3 span#rtr-s-link_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_4 {
  position: absolute;
  top: 58px;
  left: 622px;
  width: 115px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: Arial,Arial;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 #s-link_4 span#rtr-s-link_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-407a1532-1d95-486a-b238-21d655dbbaa8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}