#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-menu-background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-menuitem-asia {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-menuitem-america {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-menuitem-europe {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-menuitem-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link-mainmenu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link-mainmenu_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link-mainmenu_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-Table_1 {
  border-collapse: separate;
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-background-secondary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-eastern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-northern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-western-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-southern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-central-africa {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff #s-link_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-4e59770d-52d9-4fc0-869c-2c0a0988e9ff > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}