#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-menu-background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-menuitem-asia {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-menuitem-america {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-menuitem-europe {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-menuitem-africa {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link-mainmenu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link-mainmenu_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link-mainmenu_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-Table_1 {
  border-collapse: separate;
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-background-secondary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-eastern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-northern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-northern-africa_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-northern-africa_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d #s-link_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8452a98f-20ba-4d09-82df-e4364781eb7d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}