#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-menu-background {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-menuitem-asia {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-menuitem-america {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-menuitem-europe {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-menuitem-africa {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-Logo {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link-mainmenu {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link-mainmenu_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link-mainmenu_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-Table_1 {
  border-collapse: separate;
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-background-secondary {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa_2 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa_3 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa_4 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-eastern-africa_5 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 #s-link_4 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-aabb1a1e-3a2d-41ee-9172-300fb64b0071 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}